* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Container {
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 470px;
    text-align: center;
    border: 2px solid black;
}

#Container .logo-murach {
    width: 150px;
}

#Container > p, h3,.FName, .LName, .mail, .DoBirth,
.input-radio, .checkbox, .contact {
    text-align: left;
}

h1 {
    color: green;
    padding: 10px 0;
}

p {
    padding: 10px 0;
}

h3 {
    color: green;
    padding: 10px 0;
    font-size: 23px;
}

.FName, .LName, .mail, .DoBirth {
    font-weight: bold;
    padding: 5px 0;
    display: grid;
}

#Container .text {
    font-size: 20px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

#Container .input-radio {
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px 0;
}

#Container .input-radio > div {
    padding: 5px 0;
    font-size: 19px;
}

#Container .checkbox {
    padding: 3px 0;
}

#Container .checkbox > div {
    padding: 7px 0;
}

#Container .contact {
    padding: 5px 0 15px 0;
}

#Container .button-submit {
    margin: 10px;
    padding: 10px 30px;
    background-color: rgb(18, 14, 233);
    color: white;
    font-weight: bold;
}

#Container .button-submit:hover {
    background-color: rgba(18, 14, 233, 0.5);
    cursor: pointer;
}